.row {
    padding: 20px;
}
div {
    background-color: cadetblue;
    text-align: center;
}
/* foto de perfil */
#profile {
    border-radius: 50%;
}
@media (min-width: 576px){
    #profile {
        position: absolute;
        width: 15%;
        left: 3%;
        top: 600px;
        /* box-shadow: 5px 5px 5px whitesmoke; */
    }
}
@media (max-width: 575px){
    #profile {
        position: absolute;
        width: 30%;
        left: 35%;
        top: 700px;
        /* box-shadow: 5px 5px 5px whitesmoke; */
    }
}
/* etiqueta nombre */
#name {
    font-weight: bold;
    margin-top: 30%;
}

