<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img 
            src="../../../assets/Perfil.jpg" alt="Foto"
            class="img-fluid"
            id="profile"
        >
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ratione optio ea sit omnis. Voluptate nisi e
                st tempora voluptates! Molestiae rem hic 
                incidunt ipsam omnis, possimus nesciunt corporis 
                autem expedita tempora.
            </p>
        </span>
    </div>
</div>



