<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum totam blanditiis laudantium architecto? Tempora, esse, dolores non odit inventore similique officiis quae doloribus corporis explicabo ratione ipsam, aliquid consequuntur repudiandae!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum totam blanditiis laudantium architecto? Tempora, esse, dolores non odit inventore similique officiis quae doloribus corporis explicabo ratione ipsam, aliquid consequuntur repudiandae!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum totam blanditiis laudantium architecto? Tempora, esse, dolores non odit inventore similique officiis quae doloribus corporis explicabo ratione ipsam, aliquid consequuntur repudiandae!
            </p>
        </ul>
    </div>
</div>